<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>

    <div class="root">
        <input type="text" v-model="keyword">
        <h3>ID 姓名 年龄</h3>
        <ul>
            <li v-for="e in filterArr" :key="e.id">
                {{e.id}} --- {{e.name}} --- {{e.age}}
            </li>
        </ul>


    </div>

    <script>

        let vm = new Vue({
            el: ".root",
            data: {
                personArr: [
                    { "id": "001", "name": "Lucy", "age": 17 },
                    { "id": "002", "name": "Bob", "age": 21 },
                    { "id": "003", "name": "Tom", "age": 11 },
                    { "id": "004", "name": "Lily", "age": 19 },
                ],
                keyword: "",
            },
            computed:{
                filterArr(){
                    return this.personArr.filter((e) => {
                        return e.name.includes(this.keyword)
                    })
                }
            }
        })
    </script>
</body>

</html>